.about-section {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  // grid-gap: 10px;
  height: 100vh;
  .about-text {
    margin: 70px 0 0 65px;
    .grey-line {
      width: 30px;
      height: 3px;
      margin: 11px 140px;
      //   border: solid 1px #f30909;
      background-color: #838383;
      position: absolute;
    }
    .grey-text {
      width: 76px;
      height: 26px;
      margin: 0 0 0 11rem;
      font-family: Helvetica;
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: normal;
      color: #838383;
      position: relative;
    }
    h1 {
      width: 359px;
      height: 104px;
      margin: 24px 16px 37px 142px;
      font-family: helvetica, arial, sans;
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: 0.18px;
      color: #000;
    }
    .content {
      width: 549px;
      height: 78px;
      margin: 37px 29px 59px 142px;
      font-family: helvetica, arial, sans;
      font-size: 17.5px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #838383;
    }

    .txt-num {
      margin-left: 90px;
      .numbers {
        margin-left: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.03px;
        color: #000;
      }
      .text {
        margin-left: 6px;
        font-family: Inter;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: 0.5px;
        color: #000;
        display: inline-block;
      }
    }
  }

  .about-image-item {
    width: 540.2px;
    height: 520px;
    margin: 67.2px 148px 154.8px 48.8px;
    object-fit: contain;
    margin-right: 10px;
    padding-right: 60px;
  }
}
