:root {
  --background: #1c1b2d;
  --color: #ffbc00;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // padding-top: 5rem;
  flex-grow: column;
  background-color: var(--background);

  .hero-image {
    width: 175px;
    height: 154px;
    margin: 100px 0 16px 0;
  }

  h1 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;

    font-weight: bold;
    color: #ffffff;
    margin-bottom: 3px;
  }
  p {
    color: #ffff;
    font-size: 15px;
    width: 85vw;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.4px;
  }
  .second-image {
    width: 65px;
    height: 50px;
    object-fit: contain;
    margin-top: 4rem;
  }
  .explore {
    display: none;
  }
}

@media (min-width: 375px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 5rem;
    flex-grow: column;
    background-color: #1c1b2d;

    .hero-image {
      width: 175px;
      height: 160px;
      margin: 100px 0 16px 0;
    }

    h1 {
      font-size: 25px;
      // font-family: "Yuji Hentaigana Akari", cursive;
      // src: url("https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap");
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 3px;
    }
    p {
      color: #ffff;
      font-size: 15.5px;
      width: 75vw;
      line-height: 1.5;
      text-align: center;
    }
    .second-image {
      width: 70px;
      height: 50px;
      object-fit: contain;
      margin-top: 4rem;
    }
  }
}

@media (min-width: 425px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 5rem;
    flex-grow: column;
    background-color: #1c1b2d;

    .hero-image {
      width: 175px;
      height: 160px;
      margin: 100px 0 16px 0;
    }

    h1 {
      font-size: 30px;
      // font-family: "Yuji Hentaigana Akari", cursive;
      // src: url("https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap");
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 3px;
    }
    p {
      color: #ffff;
      font-size: 17px;
      width: 80vw;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 1px;
    }
    .second-image {
      width: 70px;
      height: 50px;
      object-fit: contain;
      margin-top: 3rem;
    }
  }
}

@media (min-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 5rem;
    flex-grow: column;
    background-color: #1c1b2d;

    .hero-image {
      width: 175px;
      height: 154px;
      margin: 100px 0 16px 0;
    }

    h1 {
      font-size: 40px;
      // font-family: "Yuji Hentaigana Akari", cursive;
      // src: url("https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap");
      font-weight: bold;
      color: #ffffff;
    }
    p {
      color: #ffff;
      font-size: 24px;
      width: 58vw;
      line-height: 1.4;
      text-align: center;
      // letter-spacing: 1.5px;
    }
    .second-image {
      width: 70px;
      height: 50px;
      object-fit: contain;
      margin-top: 1rem;
    }
    .explore {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 5rem;
    flex-grow: column;
    background-color: #ffffff;

    .hero-image {
      width: 175px;
      height: 154px;
      margin: 150px 0 0 0;
    }

    h1 {
      font-size: 64px;
      // font-family: "Yuji Hentaigana Akari", cursive;
      // src: url("https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap");
      font-weight: bold;
      color: #000000;
      margin-top: 9px;
    }
    p {
      color: #000000;
      font-family: helvetica, arial, sans-serif;
      font-size: 19px;
      width: 75vw;
      line-height: 1.4;
      text-align: center;
      margin-top: 9px;
      // letter-spacing: 1.5px;
    }

    .grey-line {
      border-bottom: 2px solid #808080;
      width: 770px;
      margin-top: 25.5rem;
      position: absolute;
    }

    .second-image {
      width: 80px;
      height: 60px;
      object-fit: contain;
      margin: 70px 0 80px 0;
      z-index: 3;
    }

    .white-background {
      width: 210px;
      height: 10px;
      position: absolute;
      margin-top: 25.5rem;
      z-index: 2;
      background: #fff;
    }

    .explore {
      display: inline;
      font-family: Helvetica;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.86;
      color: #000;
      letter-spacing: 0.1px;
    }
  }
}

@media (min-width: 1440px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 5rem;
    flex-grow: column;
    background-color: #ffffff;

    .hero-image {
      width: 175px;
      height: 154px;
      margin: 150px 0 30px 0;
    }

    h1 {
      font-size: 64px;
      // font-family: "Yuji Hentaigana Akari", cursive;
      // src: url("https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap");
      font-weight: bold;
      color: #000000;
      margin-top: 9px;
    }
    p {
      color: #000000;
      font-family: helvetica, arial, sans-serif;
      font-size: 19px;
      width: 75vw;
      line-height: 1.4;
      text-align: center;
      margin-top: 9px;
      // letter-spacing: 1.5px;
    }

    .grey-line {
      border-bottom: 2px solid #808080;
      width: 770px;
      margin-top: 28.5rem;
      position: absolute;
    }

    .second-image {
      width: 80px;
      height: 60px;
      object-fit: contain;
      margin: 30px 0 21px 0;
      z-index: 3;
    }

    .white-background {
      width: 210px;
      height: 10px;
      position: absolute;
      margin-top: 28.5rem;
      z-index: 2;
      background: #fff;
    }

    .explore {
      display: inline;
      font-family: Helvetica;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.86;
      color: #000;
      letter-spacing: 0.1px;
    }
  }
}
